# infra/env/.env.example

# Frontend
VITE_APP_NAME=
VITE_MODE=
VITE_API_BASE_URL=

# Backend
API_MODE=
API_ALLOW_ORIGINS=
API_ADDR=
API_PORT=
API_JWT_SECRET=
API_JWT_EXPIRE=
API_LOG_LEVEL=

# Database
DB_SCHEME=
DB_DOCKER_HOST=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=
DB_TIMEZONE=